<!DOCTYPE html>
<html lang="en" class="bg-black">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>sane-eleventy</title>

    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preload" href="{% webpackAsset 'style.css' %}" as="style">
    <link rel="preload" href="{% webpackAsset 'main.js' %}" as="script">
    <link rel="stylesheet" href="{% webpackAsset 'style.css' %}">
  </head>
  <body class="bg-white sans f18">
    {% include 'header.njk' %}

    <main class="pt50" data-router-wrapper>
      {{ content | safe }}
    </main>

    {% include 'footer.njk' %}

    <script src="{% webpackAsset 'main.js' %}"></script>
  </body>
</html>